<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SAPID</th>
          <th>Firstname</th>
          <th>Mphasis Email</th>
          <th>Project Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let employee of employeedata">
          <td>{{employee.sapId}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.mphasisEmail}}</td>
          <td>{{employee.projectName}}</td>
          <td><a routerLink="/update">Update</a>
          <td><button><span class="material-icons text-danger" (click)="delete(employee)">delete</span></button></td>


             <!--<button (click)="deleteEmployee()" class="btn btn-info" style="margin-left: 10px">Delete</button>
              <button (click)="Reset()" class="btn btn-info" style="margin-left: 10px">Reset</button>-->
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
